body {
  font-family: Arial, sans-serif;
  background-color: #f3f6f9;
  margin: 0;
}
section {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  padding: 24px;
  border-radius: 6px;
}
h1 {
  color: #04AA6D;
}
button {
  background: #777978;
  color:white;
  border:none;
  padding:10px 18px;
  border-radius:4px;
  height: 40px;
}
button:focus {
  background-color: #04AA6D;
}
img {
    width:100%;
    object-fit: contain;
}
.container {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  padding: 24px;
  border-radius: 6px;
}

.imageContainer {
  max-width: fit-content;
  flex-wrap: wrap;
  gap: 16px;
}
