body {
  font-family: Arial, sans-serif;
  background-color: #f3f6f9;
  margin: 0;
}

section {
  max-width: 500px;
  margin: 60px auto;
  background: white;
  padding: 24px;
  border-radius: 6px;
}

h1 {
  color: #04AA6D;
}

button {
  /* background: #04AA6D; */
  background: #777978;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 4px;
  height: 40px;
}

button:focus {
  background-color: #04AA6D;
}

img {
  width: 100%;
  /* max-width:500px; */
  object-fit: contain;

}

.container {
  max-width: 900px;
  margin: 60px auto;
  background: white;
  padding: 24px;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.imageContainer {
  max-width: fit-content;
  flex-wrap: wrap;
  gap: 16px;
}

.imageContainer img {
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: block;
  margin-bottom: 20px;
  max-width: 500px;
}

